@model PolyclinicCourseProject.prescription

@{
    ViewBag.Title = "Details";
}

<h2>About prescription</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <div>
            @{ var FIO = (ViewData["patientFIO"] as List<PolyclinicCourseProject.patient>).ElementAt(0);
                string fio = FIO.Surname + " " + FIO.Name + " " + FIO.Patronymic;
                var dFIO = (ViewData["doctorFIO"] as List<PolyclinicCourseProject.doctor>).ElementAt(0);
                string dfio = dFIO.Surname + " " + dFIO.Name + " " + dFIO.Patronymic;
                <dt>
                    Doctor
                </dt>

                <dd>
                    @Html.DisplayFor(model => dfio)
                </dd>

                <dt>
                    Patient
                </dt>

                <dd>
                    @Html.DisplayFor(model => fio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Content)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Content)
                </dd>
            }
        </div>
    </dl>
</div>
@if (User.IsInRole("Doctor"))
{
    <p>
        @Html.ActionLink("Back to List", "Index", new { id = Model.id_patient })
    </p>
}
@if (User.IsInRole("Patient"))
{
    <p>
        @Html.ActionLink("Back to List", "GetUserPrescription", new { id = Model.id_patient })
    </p>
}

