@model PolyclinicCourseProject.prescription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>prescription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_doctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_doctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_patient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_patient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Prescription_id }) |*@
    @Html.ActionLink("Back to List", "Index", new { id = Model.id_patient })
</p>
