@model PolyclinicCourseProject.doctor

@{
    ViewBag.Title = "Details";
}

<h2>About doctor</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <div>
            @{var specialty = (ViewData["specialty"] as List<PolyclinicCourseProject.list_of_specialty>).ElementAt(0);
                string sp = specialty.Specialty_name;
                <dt>
                    ID doctor
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Doctor_id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Surname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Surname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Patronymic)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Patronymic)
                </dd>

                <dt>
                    Date of birth
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date_of_birth)
                </dd>

                <dt>
                    Phone number
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone_number)
                </dd>

                <dt>
                    Specialty
                </dt>

                <dd>
                    @Html.DisplayFor(model => sp)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Education)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Education)
                </dd>

            }

        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Doctor_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
