@model PolyclinicCourseProject.appointment

@{
    ViewBag.Title = "Details";
}

<h2>About appointment</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <div>
            @{ var FIO = (ViewData["patientFIO"] as List<PolyclinicCourseProject.patient>).ElementAt(0);
                string fio = FIO.Surname + " " + FIO.Name + " " + FIO.Patronymic;
                var dFIO = (ViewData["doctorFIO"] as List<PolyclinicCourseProject.doctor>).ElementAt(0);
                string dfio = dFIO.Surname + " " + dFIO.Name + " " + dFIO.Patronymic;
                var diagnose = (ViewData["diagnose"] as List<PolyclinicCourseProject.list_of_diagnoses>).ElementAt(0);
                string diagn = diagnose.Diagnose_name;
                <dt>
                    Doctor
                </dt>

                <dd>
                    @Html.DisplayFor(model => dfio)
                </dd>

                <dt>
                    Patient
                </dt>

                <dd>
                    @Html.DisplayFor(model => fio)
                </dd>

                <dt>
                    About appointment
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Info_about_appointment)
                </dd>

                <dt>
                    Diagnose
                </dt>

                <dd>
                    @Html.DisplayFor(model => diagn)
                </dd>

                <dt>
                    Theraphy
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Theraphy)
                </dd>

                <dt>
                    Date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Data)
                </dd>
            }

        </div>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Appointment_id }) |*@
    @Html.ActionLink("Back to List", "Index", new { id = Model.id_patient })
</p>
