@model IEnumerable<PolyclinicCourseProject.appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Info_about_appointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theraphy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.list_of_diagnoses.Diagnose_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient.Surname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Info_about_appointment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theraphy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctor.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.list_of_diagnoses.Diagnose_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient.Surname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Appointment_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Appointment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Appointment_id })
        </td>
    </tr>
}

</table>
