@model IEnumerable<PolyclinicCourseProject.appointment>

@{
    ViewBag.Title = "Index";
}

<h2>All appointments</h2>

<div>
    @Html.ActionLink("Back to List", "Index", "Patient")
</div>

<table class="table">
    <tr>
        <th>
            Doctor
        </th>
        <th>
            Patient
        </th>
        <th>
            About appointment
        </th>
        <th>
            Diagnose
        </th>
        <th>
            Theraphy
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

    @{ int i = 0;
        int j = 0;

        foreach (var item in Model)
        {
            var fio = (@ViewData["FIO"] as List<PolyclinicCourseProject.Models.FIO2>).ElementAt(i);
            string Fio = fio.surname + " " + fio.name + " " + fio.patronymic;
            var pfio = (@ViewData["pFIO"] as List<PolyclinicCourseProject.Models.pFIO>).ElementAt(j);
            string pFio = pfio.surname + " " + pfio.name + " " + pfio.patronymic;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Fio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pFio)
                </td>
                <td>
                    <div style="width:300px; height: 50px; overflow:hidden;">
                        @Html.DisplayFor(modelItem => item.Info_about_appointment)
                        </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnose)
                </td>
                <td>
                    <div style="width:300px; height: 50px; overflow:hidden;">
                        @Html.DisplayFor(modelItem => item.Theraphy)
                        </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id1 = item.id_patient, id = item.Appointment_id, idDoctor = item.id_doctor, idDiagnose = item.id_diagnosis })
                </td>
            </tr>
            i++;
            j++;
        }
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Patient")
</div>
