@model IEnumerable<PolyclinicCourseProject.doctors_timetable>

@{
    ViewBag.Title = "Index";
}

<h2>Doctors timetable</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create new", "Create")
    }
</p>

<table class=" table-striped text-center" style="margin: auto">
    <tr>
        @if (User.IsInRole("Admin"))
        {
            <th>
                ID doctor
            </th>
        }
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.FIO)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Specialty)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Monday)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Tuesday)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Wednesday)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Thursday)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Friday)
        </th>
        <th></th>
    </tr>

    @{int i = 0;
        foreach (var item in Model)
        {
            var fio = (@ViewData["Fio"] as List<PolyclinicCourseProject.Models.FIO>).ElementAt(i);
            string Fio = fio.surname + " " + fio.name + " " + fio.patronymic;

            <tr>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.id_doctor)
                    </td>
                }
                <td style="width: 200px">
                    @Html.DisplayFor(modelItem => Fio)
                </td>
                <td style="width: 50px">
                    @Html.DisplayFor(modelItem => item.Specialty)
                </td>
                <td style="width: 100px">
                    @Html.DisplayFor(modelItem => item.Monday)
                </td>
                <td style="width: 100px">
                    @Html.DisplayFor(modelItem => item.Tuesday)
                </td>
                <td style="width: 100px">
                    @Html.DisplayFor(modelItem => item.Wednesday)
                </td>
                <td style="width: 100px">
                    @Html.DisplayFor(modelItem => item.Thursday)
                </td>
                <td style="width: 100px">
                    @Html.DisplayFor(modelItem => item.Friday)
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Timetable_id })

                    </td>
                }
            </tr>
            i++;
        }
    }
</table>