@model PolyclinicCourseProject.patient

@{
    ViewBag.Title = "DetailsUser";
}

<h2>About me</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            Date of birth
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_birth)
        </dd>

        <dt>
            Phone number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            Insurance policy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance_policy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Patient_id }) 
</p>
