@model IEnumerable<PolyclinicCourseProject.patient>

@{
    ViewBag.Title = "Index";
}

<h2>All patients</h2>

<p>
    @*@if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Register", "Account")
    }*@
</p>
<table class="table">
    <tr>
        @if (User.IsInRole("Admin"))
        {
            <th>
                ID patient
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th>
            Date of birth
        </th>
        <th>
            Phone number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            Insurance policy
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Patient_id)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_of_birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insurance_policy)
            </td>
            <td>
                @if (User.IsInRole("Patient"))
                {
                    @Html.ActionLink("Edit |", "Edit", new { id = item.Patient_id })
                }
                @Html.ActionLink("Details |", "Details", new { id = item.Patient_id })
                @if (User.IsInRole("Doctor"))
                {
                    @*@Html.ActionLink("Start appointment |", "Create", "Appointment", new { id = item.Patient_id }, new { })*@

                    @Html.ActionLink(" Medical history |", "Index", "Appointment", new { id = item.Patient_id }, new { })

                    @Html.ActionLink(" Prescriptions", "Index", "Prescription", new { id = item.Patient_id }, new { })
                }

            </td>
        </tr>
    }

</table>
