@model IEnumerable<PolyclinicCourseProject.making_appointment>

@{
    ViewBag.Title = "Index";
}
<h2>Appointments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Time and cabinet 
        </th>
        <th>
            Doctor
        </th>
        <th>
            Patient
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @{ int i = 0;
        int j = 0;
        foreach (var item in Model)
        {
            var fio = (@ViewData["docFIO"] as List<PolyclinicCourseProject.Models.docFIO>).ElementAt(i);
            string docFio = fio.surname + " " + fio.name + " " + fio.patronymic;
            var pfio = (@ViewData["patFIO"] as List<PolyclinicCourseProject.Models.patFIO>).ElementAt(j);
            string patFio = pfio.surname + " " + pfio.name + " " + pfio.patronymic;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => docFio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => patFio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @*@Html.ActionLink("Refuse", "Edit", new { id = item.Record_id }) |*@
                    @*@Html.ActionLink("Details", "Details", new { id = item.Record_id })*@
                </td>
            </tr>
            i++;
            j++;
        }
    }
</table>
