@model PolyclinicCourseProject.list_of_diagnoses

@{
    ViewBag.Title = "Details";
}

<h2>About diagnose</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        @if (User.IsInRole("Admin"))
        {
            <dt>
                ID diagnose
            </dt>

            <dd>
                @Html.DisplayFor(model => model.List_diagnoses_id)
            </dd>
        }
        <dt>
            Diagnose name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnose_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit |", "Edit", new { id = Model.List_diagnoses_id })
    }
    @Html.ActionLink(" Back to List", "Index")
</p>
